*{
    margin: 0;
    padding:0;

}
.aaa{
    color:brown;
    background-image: url(../images/image1.jpg);
    margin:100px;
    width:80%;
    margin-top:0;
    margin-bottom: 0;
    height:300px;
    background-size: 90%;
    background-position: center;
    background-color: antiquewhite;


    
}

